<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="editableForm" editable-form name="pc.editableForm" onaftersave="pc.saveUser()">
                <div class="form-group">
                    <span class="title">User Name: </span>
                    <span class="editable">{{pc.user.username}}</span>
                </div>
                <div class="form-group">
                    <span class="title">OldPassword: </span>
                    <!-- browsers do not support minlength yet -->
                    <span class="editable" e-name="oldPassword" editable-password="pc.user.oldPassword"
                          e-maxlength="30" e-required>{{ pc.user.oldPassword}}</span>
                </div>
                <div class="form-group">
                    <span class="title">New Password: </span>
                    <!-- browsers do not support minlength yet -->
                    <span class="editable" e-name="password" editable-password="pc.user.password"
                          e-maxlength="30" e-required>{{ pc.user.password}}</span>
                </div>
                <div class="form-group">
                    <span class="title">Confirm Password: </span>
                    <!-- browsers do not support minlength yet -->
                    <span class="editable" e-name="confirmPassword" editable-password="pc.user.confirmPassword"
                          e-maxlength="30" e-required>{{ pc.user.confirmPassword}}</span>
                </div>
                <div class="form-group buttons">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-default" ng-click="pc.editableForm.$show()" ng-show="!pc.editableForm.$visible">
                        Edit
                    </button>
                    <!-- buttons to submit / cancel form -->
                    <span ng-show="pc.editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="pc.editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="pc.editableForm.$waiting" ng-click="pc.editableForm.$cancel()">
                        Cancel
                    </button>
                  </span>
                </div>
            </form>
        </div>
    </div>
</div>