<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="replace">
    <meta charset="utf-8" />
    <title>Get Credit</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/app.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>

</body>

</html>