<!DOCTYPE html>
<html lang="en" ng-app="nc" ng-controller="ProfileController as pc">
<head>
    <meta charset="utf-8" />
    <title>Profile Edit</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/app.css"/>
</head>
<body>
<div ng-include="'/resources/templates/profile-edit.html'" ng-cloak=""></div>
<!--Scripts-->
<script type="text/javascript" src="/webjars/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/1.0.3/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/app.js"></script>
<!--Scripts-->
</body>
</html>